{% extends 'index.html' %}
{% block content %}
	
	<div id="title"><h1>{% if seo.header %}{{ seo.header }}{% else %}{{ header }}{% endif %}</h1></div>
	<div id="post">
	<div class='b-article-list'>
		{% for article in article_archive %}
			<b>&sect;</b> <a class='b-article-list__link' href='{{ article.full_url }}'>{{ article.header }}</a><br>
		{% endfor %}
	</div>
	</div>
	
{% if article_archive.num_pages > 1 %}
<div class='b-pagination'>
	{% if article_archive.has_previous %}
		<a class='b-pagination__step-links' href='/{{category.full_url}}/{{ article_archive.previous_page_number }}/' rel='prev'>&larr;</a>
	{% endif %}

	{% for page_number in article_archive.paginator.page_range %}
		{% if page_number  == article_archive.number %}
			<b>{{ page_number }}</b>
		{% else %}
			<a href="/{{category.full_url}}/{{ page_number }}/">{{ page_number }}</a>
		{% endif %}
	{% endfor %}

	{% if article_archive.has_next %}
		<a class='b-pagination__step-links' href='/{{category.full_url}}/{{ article_archive.next_page_number }}/' rel='next'>&rarr;</a>
	{% endif %}
</div>
{% endif %}
	
{% endblock %}