/*
 **************************
 * =COMMON
 **************************
*/
.slider_cower
{
	display: block;
	clear: both;
	padding: 10px;
}


.slider
{
	height: 325px;
	width: 620px;
	display: block;
	float: left;
	overflow-x: scroll;
	overflow-y: hidden;
	background: green;
	padding: 0;
	margin: 0;
}
.slider ul
{
	width: 6200px;
	height: 325px;
	background: green;
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
}
.slider ul li
{
	width: 620px;
	height: 320px;
	float: left;
	padding: 0;
	margin: 0;
}

.slider ul li img
{
	padding: 0;
	margin: 0;
	display: block;
}

.slider ul li .text
{
	position: relative;
	height: 325px;
	width: 620px;
	display: table-cell;
	box-sizing: border-box;
	padding: 240px 75px 35px;
	vertical-align: bottom;
	float: left;
	top: -325px;
}
.slider ul li a
{
	color: black;
}

.slider ul li a h1,
.slider ul li a time
{
	font: bold 24px 'PT Sans', sans-serif;
}
.slider ul li a h1
{
	color: #fff;
}

.slider ul li a time
{
	color: #d2232a;
}



.slider-nav
{
	cursor: pointer;
	text-align: center;
	font-family: 'Times New Roman';
	line-height: 325px;
	float: left;
	height: 325px;
	display: block;
	font-size: 35px;
	background: rgba(0, 0, 0, 0.15);
	width: 50px;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 10;
	text-shadow: 0 1px 1px black;
}
.slider-nav:hover
{
	color: #fff;
}

.prev
{
	margin-right: -50px;
}
.next
{
	margin-left: -50px;
}
