#slider-nav { 
	display: none; 
	margin-top: 1em;
	position: relative;
	z-index: 100;
	width: 620px;
}

#slider-nav button {
	padding: 0;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	background: #000;
	opacity: 0.2;
	color: #fff;
	height: 300px;
	width: 50px;
	text-align: center;
	font-size: 70px;
	border: none;
	position: relative;
	top: 0;
	z-index: 1000;
}

#slider-nav button:last-child
{
	float: right;
}

#slider-nav button:hover
{
	opacity: 0.4;
}

.slider {
	width: inherit;
	width: 700px;
	height: 300px;
	overflow: scroll;
}

.slider ul {
	margin: 0;
	padding: 0;
	width: 10000px;
	list-style: none;
}

.slider li {
	float: left;
}

.slider li a
{
	position: relative;
}

.slider li a span
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000;
	padding: 25px 70px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.25);
	color: #fff;
	font-size: 25px;
	width: 100%;
}
