{% load thumbnail %}

{% if banners %}

<ul class='b-banner-group m-banner_{{ group.slug }} m-banner_{{ group.size }}'>
	<li class='b-banner m-banner_{{ banner.file_type }} m-banner_{{ banner.id }}'> 
		{% if banner.file_type == "html" %}
			<iframe src='{{ banner.img.url }}' frameborder='0' scrolling='no' width='{{ banner.group.width }}' height='{{ banner.group.height }}'></iframe>
		{% elif banner.file_type == "flash" %}
			{# I want to believe that next time when i will try clear this code, avery one forgot about flash... #}
			<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'
				codebase='http://fpdownload.adobe.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0'
				width='{{ banner.group.width }}' height='{{ banner.group.height }}'>
				<param name='movie' value='{{ banner.img.url }}' /> 
				<param name='quality' value='high'>
				<param name='play' value='true'>
				<param name='loop' value='true'>
				<param name='wmode' value='transparent'>
				<embed src='{{ banner.img.url }}'
					quality='high'
					bgcolor='#d0f'
					width='{{ banner.group.width }}'
					height='{{ banner.group.height }}' 
					name='banner_{{ banner.id }}'
					type='application/x-shockwave-flash' 
					play='true'
					loop='true'
					wmode='transparent'
					pluginspage='http://www.adobe.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash'
				>
				</embed>
			</object>
		{% elif banner.file_type == 'image' %}
			<a href='{{ banner.url }}' class='b-banner__link'>
				{% thumbnail banner.img group.size crop="center" as im %}
					<img src='{{ im.url }}' width='{{ im.width }}' height='{{ im.height }}' alt='{{ banner.alt }}' title='{{ banner.title }}' class='b-banner__img'>
				{% endthumbnail %}
			</a>

		{% endif %}

		<div class='b-banner__info'>
			<span class='b-banner-info__title'>{{ banner.title|safe }}</span>
			<span class='b-banner-info__text'>{{ banner.text|safe }}</span>
		</div>


	</li><!-- b-banner -->
</ul><!-- b-banner-group -->

{% endif %}