{% load thumbnail %}

{% if banners %}

<div class="b-slider m-{{ group.slug }}" id="slider-{{ group.slug }}">
	<ul class='b-slider-list'>
		{% for banner in banners %}
			{% include "banners/banner.html" with banner=banner %}
		{% endfor %}
	</ul>
</div>

<style>
	.m-{{ group.slug }} {
		width: {{ group.width }}px;
		height: {{ group.height }}px;
	}

	.m-{{ group.slug }} .b-slider-nav-prev,
	.m-{{ group.slug }} .b-slider-nav-next {
		line-height: {{ group.height }}px;
	}

	.m-{{ group.slug }} .b-slider-item,
	.m-{{ group.slug }} .b-slider-list {
		width: {{ group.width }}px;
		height: {{ group.height }}px;
	}

	.b-banner {
		display: block;
		padding: 0;
		margin: 0;
		/*border: 1px solid silver;*/
	}

	.b-banner-{{ group.slug }} {
		width: {{ banner.group.width }}px;
		height: {{ banner.group.height }}px;
	}

</style>

{% endif %}