<!--
$('#layer1').mousedown(function() {
  alert('mouse down');
});

<div id="layer1" onmousedown="alert('mouse down')"> 
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
codebase="http://fpdownload.adobe.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" 
width="200" height="300" id="myMovieName">
<param name="movie" value="http://d1.files.namba.kg/files/55206891.swf" /> 
<param name="quality" value="high" />
<param name="play" value="true" />
<param name="loop" value="true" />
<param name="wmode" value="transparent" />
<embed src="http://d1.files.namba.kg/files/55206891.swf" quality=high bgcolor=#d0f width="200" height="300" 
name="myMovieName" type="application/x-shockwave-flash" 
play="true" loop="true" wmode="transparent"
pluginspage="http://www.adobe.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"

>
</embed>
</object>
</div>

-->