{% load banner %}

<div class="b-banner-group">
	{% for banner in banners %}
		{% banner_one banner.id %}
	{% endfor %}
</div>

<style type="text/css">
	.b-banner-group {
		display: block;
		overflow: hidden;
	}

	.b-banner {
		display: block;
		padding: 0;
		margin: 0;
		/*border: 1px solid silver;*/
	}

	.b-banner-{{ group.slug }} {
		width: {{ banner.group.width }}px;
		height: {{ banner.group.height }}px;
		float: left;
	}

	.b-banner-{{ group.slug }} img {
		width: 100%;
		height: 100%;
	}
</style>