{% load banner %}

<div class="b-banner-group">
	{% for banner in banners %}
		{% banner_one banner.id %}
	{% endfor %}
<script>
	var arr = [];
	{% for banner in banners %}
		arr[{{ forloop.counter }}] = {'id': {{ banner.id }}, 'often': {{ banner.often }}};
	{% endfor %}

	var length = arr.length - 1;

	var i = 1;
	var speed = {{ group.speed }};

	$('.b-banner-{{ group.slug }}').hide();
	$('#banner_' + arr[i]['id']).show();
	total_speed = speed * arr[i]['often'];
	setInterval(function () {
		if (i < length) i++; else i = 1;

		total_speed = speed * arr[i]['often'];
		console.log (total_speed, arr[i]);
		$('.b-banner-{{ group.slug }}').hide();
		$('#banner_' + arr[i]['id']).show();
	}, speed);
</script>
</div>