{% load thumbnail %}

{% if banners %}
<div class="slider_cower" id="main_slider">
	<span  data-direction="prev" class='slider-nav prev'>&#9668;</span>
	<div class="slider">
		<ul>
			{% for banner in banners %}
			<li data-url='{{ banner.get_absolute_url }}'>
				<a href='{{ banner.get_absolute_url }}'>
					{% thumbnail banner.img group.size crop="top" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ banner.alt }}" title="{{ banner.title }}" class='b-banner' data-view='{{ banner.image }}'>
					{% endthumbnail %}
					<div class='text'>
						<time>{{ banner.alt }}</time>
						<h1>{{ banner.title }}</h1>
						{# <p>Lorem ipsum dolor sit amet.</p> #}
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<span data-direction="next" class='slider-nav next'>&#9658;</span>
</div>

<script>
(function() {
	main_slider = new Slider('#main_slider');
})();

</script>

{% comment %}
<style>
	#slider-nav {width: {{ group.width }}px;}
	#slider-nav button {height: {{ group.height }}px;}
	.slider {width: {{ group.width }}px; height: {{ group.height }}px; margin-top: -{{ group.height }}px;}
</style>

{% endcomment %}

{% endif %}